<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AlquilerPeliculas.Properties.Settings.connString"
      connectionString="Data Source=.;Initial Catalog=BDVideoClub;Integrated Security=TrueSecurity=True;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" />
    <add name="AlquilerPeliculas.Properties.Settings.VideoClubConnectionString"
      connectionString="Data Source=.;Initial Catalog=BDVideoClub;Integrated Security=TrueSecurity=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>